<reader class="banner">
  <img src="/images/banner02.png" width="100%">
  <div class="ttlBanner">Seja um programador conheça algumas linguagens ferramentas e redes sociais do programador.</div>
</reader>