<reader class="banner">
    <div class="ttlBanner col-sm-6">Seja um programador conheça algumas linguagens ferramentas e redes sociais do programador.</div>
    <img src="/images/banner02.png" width="100%">
</reader>